@model MyElectricalShop.Identity.Web.Api.ViewModels.LoginViewModel

<form id="loginForm" method="post" asp-route="login">
    <h1>ВХОД</h1>
    <p>
        <div>Loggin</div>
        <input type="text" id="login" placeholder="Логин" name="Login" required>
    </p>
    <p>
        <div>Password</div>
        <input type="password" id="password" placeholder="Пароль" name="Password" required>
    </p>
    @if (Model != null && !string.IsNullOrEmpty(Model.Error))
    {
        <div>@Model.Error</div>
    }
    <button type="submit" id="loginButton" name="loginButton">Войти</button>
</form>
